<div class="container-fluid gtco-news" id="news">
    <div class="container">
        <h2>{{ content.field_news_block_title.0 }}</h2>
        <div class="owl-carousel owl-carousel2 owl-theme">

            {{ content.field_news }}

        </div>
    </div>
</div>