<div class="container-fluid gtco-testimonials">
    <div class="container">
        <h2>{{ content.field_testimonial_title.0 }}</h2>
        <div class="owl-carousel owl-carousel1 owl-theme">

                {{ content.field_testimonials }}

        </div>
    </div>
</div>