<div class="col-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ content.field_number.0 }}</h5>
            <p class="card-text">{{ content.field_number_description.0 }}</p>
        </div>
    </div>
</div>