<div class="col">
	<img src="{{ file_url(content.field_logo_['#items'].entity.uri.value) }}" class="img-fluid" alt="{{ content.field_logo_['#items'].alt }}" title="{{ content.field_logo_['#items'].title }}">
</div>